@import '../../../assets/style/default';
@import '../../../assets/style/common';

.container {
  width: 100%;
  height: 100%;
  padding: 10px 8px;
  box-sizing: border-box;
  color: @color-text-paragraph;

  .top-item {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: @radius-base;
    overflow: hidden;
    background: @fill-base;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px #c8c8c8;

    img {
      width: 100px;
      height: 100px;
    }

    .top-info {
      flex-grow: 1;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      div{
        width: 80%;
        .ellipsis();
      }
      .name {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      p{
        .ellipsis();
        font-size: 12px;
        line-height: 1.5;
        color: #868686;
      }
    }
  }
  .top2-item{
    width: 33%;

    .img-box{
      position: relative;
      width: 100%;

      &::before{
        display: block;
        content: '';
        width: 100%;
        padding-top: 100%;
      }

      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }

    .top2-item-info{
      padding: 5px;
      font-size: 12px;
      margin-bottom: 10px;
      color: #666;
      line-height: 1.5
    }
  }
}