
.normal-enter, .normal-done-exit {
  opacity: 0;

  .top {
    transform: translate3d(0, -100px, 0);
  }
  .bottom {
    transform: translate3d(0, 100px, 0);
  }
}

.rotate {
  animation: rotateAnimation 30s linear infinite;
}

.rotate-pause {
  animation-play-state: paused;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}